body {
  background-color:black;
  color:white;
  font-family:arial;
}

h1 {
  color:grey;
  font-family:verdana
}

.maindiv {
  background-color:white;
  border-radius: 25px;
  color:black;
  line-height: 30px;
  margin:auto;
  padding: 20px;
  width: 300px;
}
